<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summer Camp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Welcome to EziBanks</h1>

    <h2>Homepage</h2>
    <ul>
        <li> Look up order <a href="/lookup">lookup</a></li>
        <li> 
            <a href="/store">Store</a>
        </li>
    </ul>
	<hr>
</body>

</html>
