<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summer Camp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1> <a href="/">EziBanks</a> </h1>
	<h2> Your Orders </h2>

	<p> Name: <%- name%> </p>
	<p> Longitude: <%- longitude %> </p>
	<p> Latitude: <%- latitude %> </p>

  	<%- table %>


</body>

</html>
