<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Lookup Order</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1> <a href="/">EziBanks</a> </h1>
    <h2>Type in your name to find your order</h2>
    <form action="/lookupProcessing" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <input type="submit">
    </form>
    <hr>
</body>

</html>